:root {
	--blue: rgb(55, 55, 163);
	--transparent-blue: rgba(55, 55, 163, 0.6);
	--light-blue: rgb(119, 193, 250);
	--transparent-light-blue: rgb(119, 193, 250, 0.6);
	--dark-grey: rgb(72, 72, 103);
	--transparent-dark-grey: rgb(72, 72, 103, 0.8);
	--light-grey: rgb(218, 218, 245);
	--white: rgb(255, 255, 255);
	--my-red: rgb(252, 44, 3);
	scroll-behavior: smooth;
	font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "roboto", sans-serif;
	background-color: var(--white);
}

main {
	margin-top: 4rem;
}

.container {
	padding: 4rem 4rem;
}

.sections-title {
	margin: 1rem 0 2rem 0;
	font-size: 1.8rem;
	text-align: center;
}

.sections-subtitle {
	font-size: 1.4rem;
}

.sections-paragraph {
	font-size: 1.1rem;
}

.inactive {
	display: none;
}

/*  General Buttons ****************************************************/
.my-btn {
	margin-top: 1.5rem;
	display: inline-block;
	background-color: var(--blue);
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 0.5rem 3rem;
	color: var(--white);
	border: solid 0.15rem var(--white);
	border-radius: 0.5rem;
}
.my-btn:hover {
	background-color: var(--light-blue);
	border: solid 0.15rem var(--blue);
	color: var(--blue);
	transition: 0.7s;
}

/* General Social Media ***************************************************/
.social-media {
	display: flex;
	justify-content: space-evenly;
	padding: 0.3rem;
	margin: 1rem;
	gap: 3rem;
	z-index: 5;
}
.social-media img {
	width: 3rem;
	border: 0.1rem solid var(--light-blue);
	transition: all ease-in-out 0.4s;
	border-radius: 50%;
	background-color: var(--light-blue);
	opacity: 0.5;
}
.social-media img:hover {
	transform: rotate(-360deg) scale(1.15);
	border: none;
	border: 0.1rem solid var(--light-blue);
	opacity: 1;
}

/* Navbar ******************************************************/
.navbar-container {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blue);
	padding: 0 1.5rem;
	height: 4rem;
	z-index: 20;
	width: 100%;
	top: 0;
	box-shadow: 0 0 1rem 0;
}
.navbar-logo img {
	width: 2.5rem;
	cursor: pointer;
}
.navbar-links a {
	text-decoration: none;
	color: var(--light-grey);
	font-weight: bold;
	margin-left: 2rem;
	font-size: 1.2rem;
}
.navbar-links a:hover {
	color: var(--light-blue);
}
.hamburguer-menu {
	display: none;
}
.hamburguer-menu img {
	width: 2.5rem;
	cursor: pointer;
}
.inactive {
	display: none;
}

/* Mobile Menu ***************************************************/
.mobile-links {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	background-color: var(--white);
	padding-bottom: 60%;
	padding-left: 10%;
	width: 70%;
	height: 100vh;
	top: 0;
	right: 0;
	box-shadow: 0 0 1rem 0;
}
.mobile-links a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
	color: var(--dark-grey);
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
}
.mobile-links img {
	width: 2.2rem;
}
.inactive {
	display: none;
}

/* Home ****************************************************/
.home-container {
	background-image: url(../images/my-background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	position: relative;
}
.home-title {
	z-index: 10;
	color: var(--light-blue);
}
.home-title span {
	color: var(--white);
	font-size: 2.5rem;
}
.home-container-opacity {
	background-color: var(--transparent-dark-grey);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.home-texts {
	display: flex;
	width: 80%;
	height: auto;
	text-align: left;
	z-index: 10;
	padding: 2rem;
	background-color: var(--transparent-blue);
	gap: 3rem;
	border-radius: 0.5rem;
}
.home-texts span {
	color: var(--blue);
}
.main-text {
	background-color: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-grey);
	padding: 5rem 3rem;
	font-size: 1.3rem;
	border-radius: 0.5rem;
}
.secondary-text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-grey);
	width: 70%;
	padding: 2rem 2rem 2rem 0;
	font-size: 1.2rem;
}
.secondary-text span {
	color: var(--white);
}

/* About Us ******************************************************/
.about-us {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.about-us-title {
	color: var(--dark-grey);
	margin-top: 0rem;
}
.about-us > img {
	width: 50%;
}
.about-us-texts {
	background-color: var(--light-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	width: 55%;
	border-radius: 0.5rem;
	margin-left: 2rem;
}
.about-us-texts p {
	color: var(--dark-grey);
	text-align: center;
	margin-bottom: 0.5rem;
}

/* Services ******************************************/
.services {
	background: var(--white);
	background-color: var(--light-grey);
}
.services-title {
	color: var(--dark-grey);
}
.article-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	justify-content: space-around;
	gap: 1rem;
}
.article {
	width: 29%;
	background-color: var(--blue);
	margin-bottom: 1.5rem;
	padding: 2rem;
	text-align: center;
	color: var(--white);
	border-radius: 0.5rem;
}
.article:hover {
	background-color: var(--dark-grey);
	box-shadow: 0 0 1rem 0 var(--dark-grey);
	transition: 0.5s;
	transform: scale(1.02);
}
.article > img {
	width: 5rem;
	height: auto;
}
.article h3 {
	margin-top: 1.5rem;
	color: var(--light-blue);
}
.article p {
	margin-top: 1rem;
	padding-bottom: 1.2rem;
}

/*Products**********************************************/
.products {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--white);
}
.products-title {
	color: var(--blue);
}
.prod-box {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.prod-box h5 {
	display: flex;
	align-items: center;
	background: var(--dark-grey);
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin: 1rem;
	color: var(--light-blue);
	gap: 1rem;
}
.prod-box img {
	width: 4rem;
}
.products > img {
	width: 40%;
	height: min-content;
	margin-top: 4rem;
}

/*Footer**************************************************************/
footer {
	background: var(--dark-grey);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 0.6rem;
}
.contacts-title {
	color: var(--light-blue);
}
.contacts-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 2rem;
}
.my-form {
	display: flex;
	flex-direction: column;
	background-color: var(--dark-grey);
	border: 0.1rem solid var(--white);
	border-radius: 1rem;
	overflow: hidden;
	min-width: 20rem;
	width: 40%;
	padding: 3rem 2rem;
	gap: 1rem;
	margin-bottom: 2rem;
	text-decoration: none;
}
.my-form input,
textarea {
	border-radius: 0.5rem;
	border: 0.1rem solid var(--white);
	background-color: var(--dark-grey);
	color: var(--white);
	font-size: 1rem;
	padding: 0.5rem;
	width: 100%;
	margin: 0.3rem 0;
	resize: none;
}
.my-form label {
	color: var(--white);
}
.submit-button {
	align-self: center;
}
.footer-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
}
.footer-text {
	width: 80%;
	color: var(--light-grey);
}
.footer-part .logo {
	width: 40%;
}
.footer-part h2 {
	color: var(--light-blue);
	margin: 1rem;
}

/* Media Queries ******************************************/
@media screen and (max-width: 1200px) {
	:root {
		font-size: 16px;
	}
	/* Services ***********************/
	.article {
		width: 45%;
		margin-bottom: 1.5rem;
		padding: 2rem;
	}
}

@media screen and (max-width: 900px) {
	:root {
		font-size: 14px;
	}
	/* Home ****************************/
	.home-texts {
		flex-direction: column;
		width: 80%;
	}
	.main-text {
		padding: 3rem;
	}
	.secondary-text {
		width: 100%;
		padding: 0rem 2rem 2rem 2rem;
	}
	/* Products *************************/
	.products {
		flex-direction: column;
		align-items: center;
	}
	.prod-box {
		width: 100%;
	}
	.prod-box h4 {
		padding: 0.5rem 0 0.5rem 1.5rem;
	}
	.products > img {
		width: 90%;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 700px) {
	:root {
		font-size: 12px;
	}
	.container {
		padding: 4rem 2rem;
	}
	/* Navbar *************************/
	.navbar-links {
		display: none;
	}
	.hamburguer-menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	/* Home *********************************/
	.home-texts {
		width: 100%;
	}
	/* About us *************************/
	.about-us {
		flex-direction: column-reverse;
	}
	.about-us > img {
		width: 80%;
	}
	.about-us-texts {
		width: 100%;
		margin-left: 0;
	}
	/* Services *************************/
	.article {
		width: 100%;
	}
	/* Contacts */
	.contacts-content {
		flex-direction: column;
	}
	.footer-part {
		width: 100%;
	}
	.my-form {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.about-us > img {
		width: 100%;
	}
}
