:root {
	--blue: rgb(4, 4, 97);
	--transparent-blue: rgba(4, 4, 97, 0.6);
	--light-blue: rgb(119, 193, 250);
	--transparent-light-blue: rgb(119, 193, 250, 0.6);
	--dark-grey: rgb(34, 34, 54);
	--transparent-dark-grey: rgb(34, 34, 54, 0.8);
	--light-grey: rgb(157, 157, 196);
	--white: rgb(255, 255, 255);
	--my-red: rgb(252, 44, 3);
	scroll-behavior: smooth;
	font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "roboto", sans-serif;
	background-color: var(--white);
}

.container {
	padding: 2rem 4rem;
}

/*  Buttons ****************************************************/
.my-btn {
	margin-top: 1.5rem;
	display: inline-block;
	background-color: var(--blue);
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 0.5rem 3rem;
	color: var(--white);
	border: solid 0.15rem var(--blue);
}
.my-btn:hover {
	background-color: var(--transparent-light-blue);
	color: var(--blue);
	transition: 0.7s;
}

/* Navbar ******************************************************/
.navbar-container {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blue);
	padding: 0 1.5rem;
	height: 4rem;
	z-index: 20;
	width: 100%;
	top: 0;
}
.navbar-logo img {
	width: 2.5rem;
	cursor: pointer;
}
.navbar-links a {
	text-decoration: none;
	color: var(--light-grey);
	font-weight: bold;
	margin-left: 2rem;
	font-size: 1rem;
}
.hamburguer-menu {
	display: none;
}
.hamburguer-menu img {
	width: 2.5rem;
	cursor: pointer;
}
.inactive {
	display: none;
}

/* Home ****************************************************/
.home-container {
	background-image: url(../images/my-background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	position: relative;
}
.title {
	z-index: 10;
	margin-bottom: 2rem;
}
.title h1 {
	color: var(--light-blue);
	font-size: 1.9rem;
}
.title span {
	color: var(--white);
	font-size: 2.1rem;
}
.home-container-opacity {
	background-color: var(--transparent-dark-grey);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.home-texts {
	display: flex;
	width: 80%;
	height: auto;
	text-align: left;
	z-index: 10;
	padding: 2rem;
	background-color: var(--transparent-blue);
	gap: 3rem;
}
.home-texts span {
	color: var(--blue);
}
.main-text {
	background-color: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-grey);
	padding: 5rem 3rem;
	font-size: 1.3rem;
}
.secondary-text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-grey);
	width: 70%;
	padding: 2rem 2rem 2rem 0;
	font-size: 1.2rem;
}
.secondary-text span {
	color: var(--white);
}

/* About Us ******************************************************/
.about-us {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-us > img {
	margin: 2rem;
	width: 40%;
}
.about-us-texts {
	background-color: var(--light-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	font-size: 1.2rem;
	width: 60%;
	margin-left: 2rem;
}
.about-us-texts p {
	color: var(--dark-grey);
	text-align: center;
}

/* Services ******************************************/
.services {
	background: var(--white);
	background-color: var(--light-grey);
}
.services h2 {
	color: var(--blue);
	text-align: center;
}
.article-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	justify-content: space-around;
	gap: 1rem;
}
.article {
	width: 29%;
	background-color: var(--blue);
	margin-bottom: 1.5rem;
	padding: 2rem;
	text-align: center;
	color: var(--white);
}
.article:hover {
	background-color: var(--dark-grey);
	box-shadow: 0 0 1rem 0 var(--dark-grey);
	transition: 0.5s;
	transform: scale(1.02);
}
.article > img {
	width: 3rem;
	height: auto;
}
.article h3 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	color: var(--light-blue);
}
.article p {
	margin-top: 1rem;
	padding-bottom: 1.2rem;
}

/* Media Queries ******************************************/
@media screen and (max-width: 1200px) {
	:root {
		font-size: 16px;
	}
	/* Services */
	.article {
		width: 45%;
		margin-bottom: 1.5rem;
		padding: 2rem;
	}
}
@media screen and (max-width: 900px) {
	:root {
		font-size: 14px;
	}

	/* Home */
	.home-texts {
		flex-direction: column;
		width: 80%;
	}
	.main-text {
		padding: 3rem;
	}
	.secondary-text {
		width: 100%;
		padding: 0rem 2rem 2rem 2rem;
	}
}

@media screen and (max-width: 700px) {
	:root {
		font-size: 12px;
	}

	/* Navbar */
	.navbar-links {
		display: none;
	}
	.hamburguer-menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* About us */
	.about-us {
		flex-direction: column-reverse;
	}
	.about-us > img {
		margin: 0;
		width: 80%;
	}
	.about-us-texts {
		width: 90%;
		margin-left: 0;
	}

	/* Services */
	.article {
		width: 90%;
	}
}
